.cell {
	width: 20px;
	height: 20px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
}

.isOpen {
	background-color: darkgreen;
	color: white;
}

.isDetonated {
	background-color: brown;
}
